@import "base/_typography";
@import "components/_preloader";
@import "components/_navbar";

@mixin bg-img-layout {

    /* Background image is centered vertically and horizontally at all times */
    background-position: center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #464646;
}

@mixin flex-col-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 1rem;
    scroll-behavior: smooth;
}

.hide {
    display: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation: fadeOut 2s ease-out;
    animation: fadeOut 2s ease-out;
}

main {
    position: relative;
    -webkit-animation: fadeIn 2s ease-in;
    animation: fadeIn 2s ease-in;
}

h1,
h2 {
    margin: 0 0 1.5rem 0;
}

a {
    text-decoration: none;
}

.site-hero {
    height: 80vh;
    height: calc(var(--vh, 1vh) * 80);
    background-color: #000000;
    background-image: url('../images/unsplashdark.jpg');
    @include bg-img-layout();
    @include flex-col-layout();
    color: #ffffff;
    text-align: center;

    // margin-top: 2em;
    // header {
    //     /* Add animation to "page content" */
    //     position: relative;
    //     -webkit-animation-name: animatebottom;
    //     -webkit-animation-duration: 1s;
    //     animation-name: animatebottom;
    //     animation-duration: 1s
    // }

    h1 {
        font-size: 3.5rem;
        letter-spacing: 2pt;

        @media (min-width: 650px) {
            font-size: 3rem;
        }
    }

    p {
        font-size: 1.1rem;

        @media (min-width: 650px) {
            font-size: 1.2rem;
        }
    }
}

.about-me {
    background-color: #ffffff;
    text-align: center;
    padding: 5em 0;

    h2 {
        font-size: 2.5em;
        letter-spacing: 2pt;
    }

    p {
        font-size: 1.1rem;
        padding: 10px;

        @media (min-width: 650px) {
            font-size: 1.2rem;
        }
    }
}

.heart {
    fill: red;
    position: relative;
    top: 5px;
    max-width: 15px;
    vertical-align: text-top;
    // animation: pulse 1s ease infinite;
}

.technical-skills {
    padding: 5em 0;
    background-color: #000000;
    background-image: url('../images/unsplashdesktop.jpg');
    @include bg-img-layout();
    color: #ffffff;

    &--header {
        text-align: center;
        padding-bottom: 3em;

        h2 {
            font-size: 2.5em;
            letter-spacing: 2pt;
        }

        p {
            font-size: 1.1rem;
            margin: 0 auto;
            padding: 20px;
            max-width: 650px;

            @media (min-width: 650px) {
                font-size: 1.2rem;
            }
        }
    }
}

.experience {
    padding: 5em 0;
    color: #000000;

    &-header {
        text-align: center;
        padding-bottom: 3em;

        h2 {
            font-size: 2.5em;
            letter-spacing: 2pt;
        }

        p {
            font-size: 1.1rem;
            margin: 0 auto;
            padding: 20px;
            max-width: 650px;

            @media (min-width: 650px) {
                font-size: 1.2rem;
            }
        }
    }
}

.job-description {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    h3,
    p {
        margin-bottom: 1.5em;
    }

    ul {
        padding-left: 3em;
    }
}

.container,
.site-hero--small,
.about-me--small,
.technical-skills--small,
.experience--small {
    max-width: 650px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}

.card {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    padding: 2.5rem;
    background: rgba(0, 0, 0, 0.651);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0.5rem;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.skills {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.skills .card img {
    display: block;
    margin: 0 auto;
    max-width: 3em;
    border-radius: 6px;
}

.card h3 {
    font-weight: 600;
    font-size: 1rem;
    margin: 2rem 0 0;
    text-align: center;
    color: #ffffff;
    letter-spacing: 2pt;
}

/* Experience */
.job {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    // border-bottom: 1px solid #ebecec;
    margin: 0 1.5em 2em;

    &-title {
        text-align: center;
        padding-bottom: 2rem;
    }

    &-company img {
        width: 110px;
        // height: 50px;
    }

    &-description h3 {
        text-align: center;
    }

    //     &:last-of-type {
    //         border-bottom: none;
    //         margin-bottom: 0;
    //         padding-bottom: 0;
    //     }

    //     &-title {
    //         text-align: center;
    //         padding-bottom: 2rem;
    //     }

    //     &-description h3 {
    //         text-align: center;
    //         font-weight: 800;
    //     }

    //     &-description p {
    //         margin-bottom: 1.5rem;
    //     }
}

@media (min-width: 650px) {

    .container {
        max-width: 1050px;
    }

    .skills .card {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(25% - 1rem);
        flex: 1 1 calc(25% - 1rem);
    }
}

@media (min-width: 900px) {
    .job {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 2rem 0;

        &-title {
            text-align: left;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 200px;
            flex: 0 1 200px;
            margin-right: 5em;
            padding-bottom: 2em;
        }
    }

}

// @media screen and (min-width: 900px) {
//     .job {
//         -webkit-box-orient: horizontal;
//         -webkit-box-direction: normal;
//         -ms-flex-direction: row;
//         flex-direction: row;
//         padding: 2rem 0;

//         &-title {
//             text-align: left;
//             -webkit-box-flex: 0;
//             -ms-flex: 0 1 200px;
//             flex: 0 1 200px;
//             margin: 0 6rem 0 0;
//         }

//         &-description {
//             -webkit-box-flex: 1;
//             -ms-flex: 1;
//             flex: 1;

//             h3 {
//                 text-align: left;
//             }
//         }
//     }

//     .experience-subcontainer {
//         max-width: 1050px;
//     }
// }

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// @-webkit-keyframes animatebottom {
//     from {
//         bottom: -100px;
//         opacity: 0
//     }

//     to {
//         bottom: 0px;
//         opacity: 1
//     }
// }

// @keyframes animatebottom {
//     from {
//         bottom: -100px;
//         opacity: 0
//     }

//     to {
//         bottom: 0;
//         opacity: 1
//     }
// }
// @keyframes pulse {
//     0% {
//         transform: scale(1);
//     }

//     50% {
//         transform: scale(1.3);
//     }

//     100% {
//         transform: scale(1);
//     }
// }