@import "base/reset";
@import "base/typograhpy";

//set breakpoint sizes
$break-small: 20em;
$break-medium: 48em;
$break-large: 60em;

@mixin breakpoint($break) {
    @if $break==large {
        @media (max-width: $break-large) {
            @content;
        }
    }

    @else if $break==medium {
        @media (max-width: $break-medium) {
            @content;
        }
    }

    @else if $break==small {
        @media (max-width: $break-small) {
            @content;
        }
    }

    @else {
        @media ($break) {
            @content;
        }
    }
}


.btn--custom {
    border-radius: .3em;
    color: #000000;

    span {
        margin: 0 .3em;
    }
}

.content--hide {
    display: none;
}

#results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .city {
        margin: 0;

        &__name {
            grid-column: 1;
            grid-row: 2;
            line-height: 1;
        }
    }

    .currently {
        grid-column: 2;
        grid-row: 1;

        &__desc {
            grid-column: 2;
            grid-row: 2;
            margin: 3px 0 0 45px;
        }
    }

    .wi {
        grid-column: 2;
        grid-row: 2;
    }
}