/* classes */

.copyright {
    text-align: center;
    margin: 20px;
}

.fa {
    padding: 5px;
    font-size: 30px;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.fa-instagram {
    color: black;
}

/* id's */

#airport {}

/* other */

header {
    text-align: center;
    justify-content: center;
    font-family: 'Pridi', serif;
}

body {}

h1 {
    font-size: 38px;
    margin: 20px;
}

main img:hover {
    opacity: 0.7;
    /*transform:scale(1.5);*/
}

main img {
    width: 300px;
    height: 300px;
    padding: 4px;
    /*transition:transform 0.25s ease;*/
}

figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
