*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-color: #fcfcfc;
  color: Black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Pridi', serif;
  /* background-image: url('../images/erikjmartinezblur.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #464646; */
  /* opacity: .5; */
  /* height: 20vh; */
  padding: 30px 20px 20px;
}

h1 {
  font-size: 38px;
  margin: 0 10px;
}

main {
  margin-top: 20px;
}

img:hover {
  /* filter: blur(1px); */
  opacity: 0.7;
  transform: scale(1.1);
  cursor: pointer;
}

main img {
  width: 300px;
  height: 300px;
  padding: 4px;
  /*transition:transform 0.25s ease;*/
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  section {
    margin: 0 20px;
  }
}

.copyright {
  text-align: center;
  margin: 20px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.fa-instagram {
  color: black;
}

a.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

a.progressive:not(.replace) {
  cursor: default;
}

a.progressive img {
  width: 300px;
  height: 300px;
  padding: 4px;
}

a.progressive img.preview {
  filter: blur(2vw);
  transform: scale(1.05);
}

a.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform, opacity;
  animation: reveal 1s ease-out;
}

@keyframes reveal {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Grid test */