/* Font fam for site - for reference
font-family: 'Ubuntu', sans-serif;
font-family: 'Russo One', sans-serif;*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif !important;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.proBod {}

h1 {
	font-family: 'Russo One', sans-serif;
}

h5 {
	text-align: center;
	margin-top: -10px;
	margin-bottom: 3px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h2,
h3,
h5,
a {
	color: white;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: -5px;

}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: white;
	font-size: .99em;
}

.main-nav li {
	display: none;
}

.main-nav.responsive {
	position: relative;
}

.main-nav.responsive li {
	background-color: black;
	display: block;
	width: 100%;
	margin: 2px 0;
}

.main-nav.responsive li a {
	padding: 0.8rem;
	text-align: center;
	display: block;
	text-decoration: none;
}

.main-nav.responsive li a:hover {
	background-color: dimgray;
}

.active a {
	border-bottom: solid;
	border-color: white;
}

.active:hover a {
	border-bottom: solid;
	border-color: dimgray;
}


.hamburger {
	width: 100%;
	background: none;
	border-color: black;
}

button img {
	width: 6%;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: black;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

main {
	flex: 1;
}

.bicyclePics img {
	width: 100%;
	height: 180px;
}

.bicyclePics2 img {
	width: 100%;
	height: 180px;
}

.bikeProductCap {
	font-family: 'Russo One', sans-serif;
	text-transform: uppercase;
	letter-spacing: normal;
	color: #fff;
	margin-top: -50px;
	margin-left: 20px;
	margin-bottom: 0;
	text-align: left;
	font-size: 20px;
}

.mensWomensBikes {
	width: 90%;
	max-width: 1300px;
	margin: 4em auto;
	background-color: white;
	overflow: hidden;
	padding: .5em;
}

img {
	max-width: 100%;
}

.item {
	min-width: 25%;
	max-width: 100%;
	float: left;
	padding: .5em;
	border: 1px solid white;
	/*background-color:#fff;*/
}

.item p {
	min-height: 3em;
	/*background-color:#fed;*/
	margin: .5em 0 0 0;
	font-size: .9em;
	text-align: center;
}

iframe {
	width: 100%;
	height: 180px;
}

.conInfo {}

.hoursOfOp {
	color: black;
	font-family: 'Russo One', sans-serif;
}

.hoursOfOp2 {
	color: black;
	font-family: 'Russo One', sans-serif;
}

.text {
	margin: 5px;
}

.picMenu {
	display: flex;
}

.picMenu img {
	width: 33.3%;
	height: 300px;
}

.ctcd {
	text-align: center;

}

.ctcdsh a {
	text-align: center;
	color: black;
}

footer p {
	padding: 1em;
	color: white;
	background-color: black;
	margin: 2px;
	text-align: center;
}

/*------------table--------------*/

table {
	border-collapse: collapse;
	/*    border: 2px solid black;*/
	letter-spacing: 1px;
	font-size: 0.8rem;
	width: 100%;
	margin-top: -6.9px;
	margin-bottom: -2px;
	height: 100%;
}

td,
th {
	/*    border: 1px solid black;*/
	padding: 10px 20px;
}

tbody > tr > th {
	color: #000000;
}

tr:nth-child(even) {
	background: #000000;
}

tr:nth-child(odd) {
	background: #BEBEBE;
}

td {
	text-align: center;
}

tfoot {
	background-color: ;
}

#item1,
#item2,
#item5,
#item6,
#item9,
#item10,
#item13,
#item14,
#item17,
#item18,
#item19,
#item20,
#item23,
#item24 {
	color: #A8A8A8;
}

/*----------table2-------------*/

.event-itinerary__label,
.event-itinerary__day {
	background-color: white;
	font-family: 'Ubuntu', sans-serif;
	border-style: none;
}

.event-itinerary__wrapper {
	color: #000;
}

@media (max-width: 540px) {
	.event-itinerary__wrapper {
		padding: 2.5rem 1rem;
	}
}

.event-itinerary__title {
	display: block;
	margin: 0 0 2rem;
	text-align: center;
	margin: 0 0 0.5rem;
	color: black;
}

@media (max-width: 1024px) {
	.event-itinerary__title {
		margin: 0 0 1rem;
	}
}

.event-itinerary__title::before {
	display: inline-block;
	margin: 0 1.5rem 0 0;
}

@media (max-width: 640px) {
	.event-itinerary__title::before {
		display: none;
	}
}

.event-itinerary__subtitle {
	font-weight: 300;
	text-align: center;
	color: black;
}

@media (max-width: 640px) {
	.event-itinerary__subtitle {
		margin: 0 0 1.5rem;
		font-size: 1.3rem;
	}
}

.event-itinerary__days {
	margin: 0 0 2rem;
}

@media (max-width: 540px) {
	.event-itinerary__days td {
		display: block;
	}
}

.event-itinerary__label {
	padding: 0.5rem 2rem 1.5rem 0.5rem;
	white-space: nowrap;
	text-align: right;
	font-weight: 700;
	vertical-align: baseline
}

@media (max-width: 540px) {
	.event-itinerary__label {
		padding: 0.5rem;
		text-align: left;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}
}

.event-itinerary__day {
	padding: 0.5rem 0.5rem 1.5rem;
	font-weight: 300;
	line-height: 1.5;
	text-align: left;
}

@media (max-width: 540px) {
	.event-itinerary__day {
		padding: 0.5rem 0.5rem 3rem;
	}
}

.event-itinerary__day strong {
	text-decoration: underline;
}

.event-itinerary__actions {
	text-align: center;
}

.event-itinerary__actions h4 {
	display: block;
}

.event-itinerary__date .button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 4px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	transition: all 0.1s ease-in-out;
	background-color: black;
	border: 2px solid black;
	;
}

@media (max-width: 800px) {
	.event-itinerary__date .button {
		font-size: 0.9rem;
	}
}

.event-itinerary__date .button.button--disabled {
	background-color: #94B8CA;
	border-color: #94B8CA;
	text-shadow: 0 1px 2px rgba(65, 110, 132, 0.5);
}

.event-itinerary__date .button.button--disabled:hover {
	background-color: #72a1b9;
	border-color: #72a1b9;
	text-shadow: 0 1px 2px rgba(65, 110, 132, 0.5);
}

.event-itinerary__date .button:hover {
	text-decoration: none;
	background-color: dimgray;
	border-color: dimgray;
}

.event-itinerary__date .button::after {
	display: inline-block;
	margin: 0 0 0 0.75rem;
}

@media (max-width: 540px) {
	.event-itinerary__date .button {
		flex-direction: column;
	}
}


/*----------------------------------------*/

.container2,.container3, .container4{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	/* 2:1 */
}
.container2 {
	background-image: url('https://gringuitolokito.github.io/cit230/assignments/Term%20Final/images/homeBanner.jpg');
}
.container3 {
	background-image: url('https://gringuitolokito.github.io/cit230/assignments/Term%20Final/images/events&toursLarge.jpg');
	
}
.container4 {
	background-image: url('https://gringuitolokito.github.io/cit230/assignments/Term%20Final/images/nottrek2.jpg');
	
}

.content2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 30px;
	right: 30px;
}

@media only screen and (max-width: 480px) {

	.container2, .container3, .container4  {
		padding-bottom: 0;
	}
	.content2 {
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 30px;
	}

}

/* Optional CSS for Codepen demo only */

.content2 {
	font-size: 120%;
	color: #fff;
	text-shadow: 0 0 8px #000;
}

.content2 h2 {
	margin: 0 0 16px;
}

.content2 p {
	margin: 0 0 16px;
}

.content2 p:last-of-type {
	margin-bottom: 0;
}

/*------------form------------------*/

input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

input[type=submit]:hover {
	background-color: dimgray;
}

input[type=submit] {
	background-color: black;
	margin-top: 20px;
}

.col-75 input:required {
	border-left: red solid 6px;
}

.col-75 input:required:valid {
	border-left: green solid 6px;
}

.col-75 select:required {
	border-left: red solid 6px;
}

.col-75 select:required:valid {
	border-left: green solid 6px;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
	.col-25,
	.col-75,
	input[type=submit] {
		width: 100%;
		margin-top: 25px;
	}

}

h1.thankU {
	text-align: center;
}

h2.uWill {
	text-align: center;
	color: black;
}

h1.prep {
	text-align: center;
}

h2.prep2 {
	text-align: center;
	color: black;
}

.prep2 a {
	color: black;
	border-bottom: 2px solid black;
}

.prep2 a:hover {
	color: white;
	border-bottom: 2px solid #808080;
}

.tyBody {
	background: #BEBEBE;
}

.text {
	text-align: center;
}

.textC {
	border-bottom: 1px solid black;
	margin-bottom: -0.3px;
}

/*-------------------------*/

.eventTour {
	margin-top: -7px;
	margin-bottom: -7px;
}
