@media only screen and (min-width: 600px) {

    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

    .main-nav li {
        display: contents;
    }
    .main-nav a:hover {
        color: dimgray;
    }
    .hamburger {
        display: none;
    }
    .bicyclePics img {
        width: 100%;
        height: 330px;
    }

    .bikeProductCap {
        font-size: 48px;
        /*line-height: 57px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    letter-spacing: normal;
    color: #fff;
    margin-top: -100px;
    margin-bottom: 0;
    text-align: left;*/
    }


}
