@media only screen and (min-width: 600px) {

	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		.header {
			width: 80%;
			margin: 0 auto;
			max-width: 1150px;
		}
	}

	.main-nav li {
		display: contents;
	}
	.main-nav a:hover {
		color: dimgray;
	}
	.hamburger {
		display: none;
	}
	.bicyclePics img {
		width: 100%;
		height: 200px;
	}
	.bicyclePics2 img {
		width: 100%;
		height: 330px;
	}

	.bikeProductCap {
		font-size: 30px;
		margin-top: -100px;
	}
	.mensWomensBikes {
		margin: 2em auto;
	}
	.item img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	.item p {
		font-size: .8em;
	}
	iframe {
		height: 280px;
	}
	h1.thankU {
		text-align: center;
	}
	h2.uWill {
		text-align: center;
		color: black;
	}
	h1.prep {
		text-align: center;
	}
	h2.prep2 {
		text-align: center;
		color: black;
	}
	.prep2 a {
		color: black;
	}
	.eventTour {
		margin-top: ;
	}
	

}
