<!-- <article>
  <select (change)="selectChangeHandler($event)">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
  </select>
  <p>
    <span>You selected: </span><b>{{ selectedDay }}</b>
  </p>
</article> -->

<full-calendar
  #calendar
  defaultView="dayGridMonth"
  [header]="{
    left: 'prev,next today',
    center: 'title',
    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
  }"
  [plugins]="calendarPlugins"
  [weekends]="calendarWeekends"
  [events]="calendarEvents"
  (dateClick)="handleDateClick($event)"
  (eventClick)="eventClick($eventDetail)"
></full-calendar>
<p>Display event : {{ displayEvent | json }}</p>
<router-outlet></router-outlet>
