/* ids */


/* classes */


/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Arvo', serif;
    background-color: #eeddff; /*aaddff bbddff ccddff ddddff eeddff*/
}

header {
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    font-family: 'permanent marker'
}
header h2 {
    margin: -15px;
    font-weight:;
}

header img {}

header .subheading {}
 
nav {

}
nav button {}


.container {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
.container > li {
    flex: 1;
}
/*
nav ul {
    list-style-type: none;
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    
}

nav ul li {
    margin: 5px;
    flex: 1;
    flex-basis: 100%;
    flex-wrap: wrap;
}
*/
nav ul li a {}

nav ul li.active a {}

nav ul li a:hover {}


main {
    text-align: center;
}

main h2 {}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {}


footer {
}




