* { box-sizing: border-box; margin: 0 auto;}
/* ids */

/* classes */

.container {
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;

}

.container > li {
    flex-basis: 100%;
    text-align: center;
    padding: 7px;
}

.forecast {
    display: none;
}

.sunny {
    width: 70px;
}

.hmm {
    min-width: 10px;
    max-width: 25px;
}

.ftitle{
    margin: 20px;
}
.weather-summary{
    margin: 20px;
}
.highlow p {
    margin: 2px;
}
.conditions p{
    margin: 2px;
}

.peeked {
    max-width: 300px;
    margin: 0 0 20px;
}
.town-article {
    margin: 0 60px 60px;
    line-height: 1.4;
}
/* -----------------------------------------------------*/
body {
    font-size: 16px;
    font-family: 'Arvo', serif;
    background-color: #8b88ff;
    /*aaddff bbddff ccddff ddddff eeddff*/
}

header {
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-family: 'permanent marker';
    display: inline;
}

header h2 {
    margin: -1px;
    font-weight: ;
}

header img {}

header .subheading {}

nav {}

nav button {
   background: none;
    border: none;
    float: right
}

nav ul li a{
    color: black;
}
nav ul li a:link {
    text-decoration: none;
}

nav ul li a.visited {
    
}

nav ul li a:hover {
    
}


main {
    text-align: center;
}

main h2 {}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {}


table {
    margin: auto;
}
article h3 {
        margin: 20px 0;
    }

footer {
    text-align: center;
    
}
