@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800|Righteous&display=swap');

:root {
  /* Colors */
  --color-1: #ffffff;
  --color-2: #f0f4ff;
  --color-3: #4e67eb;
  --color-4: #291d89;

  /* Font */
  --primary-font: 'Righteous', cursive;
  --secondary-font: 'Raleway', sans-serif;

  /* Breakpoints */
  --break-small: 20em;
  --break-medium: 40em;
  --break-large: 60em;
}


/* Border box reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 1rem;
  line-height: 1.6;
}

body {
  font-family: var(--secondary-font);
  color: #fff;
  letter-spacing: 1pt;
}

h1,
h2 {
  color: #ffffff;
  font-family: var(--primary-font);
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 1.5rem 0;
}

a {
  text-decoration: none;
}

/* Site-Header */
/* .site-header {
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: calc(90vh - 60px);
}

.site-header h1 {
  font-size: 3em;
}

.site-header p {
  font-size: 1.1rem;
  margin: 2.5rem 0;
  padding: 20px;
  max-width: 650px;
}

.primary {
  color: var(--color-3);
}

.underline a {
  display: inline-block;
}

.underline > a:hover {
  text-decoration: underline;
}

a.button {
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 1.75rem;
  font-size: 1.1rem;
  font-weight: 700;
  display: inline-block;
  margin: 10px;
}

a.button:hover {
  color: white;
  border: 1px solid white;
} */

/* Main Header */
.main-header {
  color: white;
  background-image: url('./images/unsplashdark.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.main-header h1,
.main-header p {
  color: white;
}

.about-me,
.about-me h1 {
  color: black;
  text-align: center;
}

/* Technical Section */
.section {
  padding: 2rem 0;
  background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1007&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-header {
  text-align: center;
  margin-bottom: 2rem;
}

.section-header h2 {
  font-size: 2.5em;
  letter-spacing: 2pt;
}

.section-header p {
  font-size: 1.1rem;
  margin: 0 auto;
  padding: 20px;
  max-width: 650px;
}

.container,
.small-container {
  max-width: 1050px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  padding: 2.5rem;
  background: rgba(0, 0, 0, 0.651);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /*border: 1px solid #ebecec;
   border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  margin: 0.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .card img {
  max-width: 60px;
  border-radius: 6px;
}

.card img {
  display: block;
  margin: 0 auto;
}

.card h3 {
  font-weight: 600;
  font-size: 1rem;
  margin: 2rem 0 0;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2pt;
}

img {
  height: auto;
  max-width: 100%;
}

@media screen and (min-width: 650px) {
  h1 {
    font-size: 4rem;
  }

  .section {
    padding: 4rem 0;
  }

  .section-header {
    margin-bottom: 4rem;
  }

  .section-header p {
    font-size: 1.1rem;
  }

  .skills .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(25% - 1rem);
    flex: 1 1 calc(25% - 1rem);
  }
}