@media only screen and (min-width: 1024px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

	.subhead {
		display: none;
	}
	.bicyclePics img {
		width: 100%;
		height: 350px;
	}
	.bicyclePics2 img {
		width: 100%;
		height: 430px;
	}
	.mensWomensBikes img {
		/*        max-width: 500px;
        height: 400px;
        padding: 4px;*/
	}
	.bikeProductCap {
		font-size: 38px;
		line-height: 57px;
	}
	.item {
		width: 33.3%;
	}
	.item img {
		width: 100%;
	}
	iframe {
		height: 350px;
	}
	main .ctcd {
		text-align: center;
	}
	.ctcdsh a {
		display: contents;
		text-align: center;
	}
	h1.thankU {
		text-align: center;
	}
	h2.uWill {
		text-align: center;
		color: black;
	}
	h1.prep {
		text-align: center;
	}
	h2.prep2 {
		text-align: center;
		color: black;
	}
	.eventTour {
		margin-top: ;
		margin-bottom: ;
	}
	.row {
		margin: 0 auto;
		width: 100%;
		max-width: 71.25rem;
	}
}
