/* Border box reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 1rem;
  line-height: 1.6;
}
body {
  font-family: "Poppins", sans-serif;
}
/* section {
  height: 90vh;
} */
h1,
h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 1.5rem 0;
}
a {
  text-decoration: none;
  color: #13a7fb;
}
/* Site-Header */
.site-header {
  color: white;
  text-align: center;
  background: linear-gradient(to bottom right, #292c33, #393d47);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(80vh - 60px);
}
.site-header h1 {
  font-size: 3em;
}
.site-header p {
  font-size: 1.1rem;
  margin: 2.5rem 0;
  padding: 20px;
}
.primary {
  color: #57eea1;
}
.underline a {
  display: inline-block;
}
.underline > a:hover {
  text-decoration: underline;
}
a.button {
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 1.75rem;
  font-size: 1.1rem;
  font-weight: 700;
  display: inline-block;
  margin: 10px;
}
a.button:hover {
  color: white;
  border: 1px solid white;
}
.small-container {
  max-width: 650px;
}
.container,
.small-container {
  max-width: 1050px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}
/* Technical Section */
.section {
  padding: 2rem 0;
}
.section-header {
  text-align: center;
  margin-bottom: 2rem;
}
.section-header h2 {
  font-size: 2.5em;
}
.section-header p {
  font-size: 1.1rem;
  margin: 2.5rem 0;
  padding: 20px;
  color: #858787;
}
.container,
.small-container {
  max-width: 1050px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}
.card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  padding: 2.5rem;
  background: #fff;
  border: 1px solid #ebecec;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skills {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.skills .card img {
  max-width: 50px;
  border-radius: 6px;
}
.card img {
  display: block;
  margin: 0 auto;
}
.card h3 {
  font-weight: 400;
  font-size: 1rem;
  margin: 2rem 0 0;
  text-align: center;
}
img {
  height: auto;
  max-width: 100%;
}
@media screen and (min-width: 650px) {
  h1 {
    font-size: 4rem;
  }
  .container,
  .small-container,
  .small-container {
    padding: 0 2rem;
  }
  .section {
    padding: 4rem 0;
  }
  .section-header {
    margin-bottom: 4rem;
  }
  .section-header p {
    font-size: 1.1rem;
  }
  .skills .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(25% - 1rem);
    flex: 1 1 calc(25% - 1rem);
  }
}

/* footer */

.footer-bottom {
  text-align: center;
  padding: 2rem 0;
  background: linear-gradient(to bottom right, #292c33, #393d47);
  color: white;
}
