@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root {
  --mainTextColor-light: #000;
  --secondaryTextColor-light: rgb(51 51 51);
  --mainLinkColor-light: rgb(69, 186, 252);
  --mainBorderColor-light: rgb(218, 218, 218);
  --mainBgColor-light: rgb(249, 250, 251);

  --mainTextColor: var(--mainTextColor-light);
  --secondaryTextColor: var(--secondaryTextColor-light);
  --mainLinkColor: var(--mainLinkColor-light);
  --mainBorderColor: var(--mainBorderColor-light);
  --mainBgColor: var(--mainBgColor-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --mainTextColor-dark: #fff;
    --secondaryTextColor-dark: #adb0b1;
    --mainLinkColor-dark: rgb(69, 186, 252);
    --mainBorderColor-dark: #2b3031;
    --mainBgColor-dark: #131415;

    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--secondaryTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
  }
}

* {
  font-family: 'Readex Pro';
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

li {
  line-height: 1.9em;
}

#container--main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#bio,
a {
  font-weight: 300;
}

#user-name {
  font-size: 48px;
  line-height: 1em;
}

#profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

#email {
  color: var(--mainTextColor);
}

#email:hover {
  color: var(--mainLinkColor);
}

#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a {
  font-weight: 300;
  color: var(--secondaryTextColor);
  font-size: 0.9em;
  transition: 0.3s;
  position: relative;
}

#socials--list a:hover {
  font-weight: 100;
  color: var(--mainLinkColor);
  font-size: 0.9em;
}

#socials--list a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--mainLinkColor);
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
#socials--list a:hover::before {
  transform: scaleX(1);
}

#qualifications--list {
  list-style: none;
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
}

.card--project a {
  color: var(--mainTextColor);
  transition: 0.3s;
}

.card--project a:hover {
  color: rgb(30, 190, 214);
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

@media (max-width: 600px) {
  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #wrapper--hero {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }

  #wrapper--hero {
    flex-direction: column;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}

/*  */

.card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  padding: 1.5rem;
  margin: 0.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 3em;
  border-radius: 6px;
}

.vue-logo img {
  padding-top: 5px;
}

.card h3 {
  font-weight: 600;
  font-size: 1rem;
  margin: 2rem 0 0;
  text-align: center;
  letter-spacing: 2pt;
}

.btn-align {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}

.btn-align button {
  -webkit-appearance: none;
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
  background-color: #45bafc;
  color: white;
  border: none;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 800;
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

[type='text'],
[type='email'],
textarea {
  width: 100%;
  display: block;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: #000;
}

[type='text']:hover,
[type='email']:hover,
textarea:hover {
  border: 1px solid #45bafc;
}

[type='text']:focus,
[type='email']:focus,
textarea:focus {
  outline: 0;
  border: 1px solid #45bafc;
}

/* Change the autofill bg color to any color 
NOTE: it can not be set to transparent */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
