@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,800|Righteous&display=swap");
body {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1pt;
  font-size: 1em;
}

body h1,
body h2 {
  font-family: "Righteous", cursive;
  font-weight: 800;
  line-height: 1.2;
}

body h1 {
  font-size: 1.5em;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader--dot {
  -webkit-animation: loader 2s ease-in-out infinite;
          animation: loader 2s ease-in-out infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}

.loader--dot:first-child {
  background-color: #8cc759;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
  background-color: #60beeb;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}

.loader--text:after {
  content: "Loading";
  font-weight: bold;
  -webkit-animation: loading-text 2s infinite;
          animation: loading-text 2s infinite;
}

@-webkit-keyframes loader {
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  65% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  95% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes loader {
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  65% {
    -webkit-transform: translateX(230px);
            transform: translateX(230px);
  }
  95% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 1rem;
  scroll-behavior: smooth;
}

.hide {
  display: none;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation: fadeOut 2s ease-out;
  animation: fadeOut 2s ease-out;
}

main {
  -webkit-animation: fadeIn 2s ease-in;
  animation: fadeIn 2s ease-in;
}

h1,
h2 {
  margin: 0 0 1.5rem 0;
}

a {
  text-decoration: none;
}

nav {
  height: 6vh;
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.site-hero {
  height: 80vh;
  background-color: #000000;
  background-image: url("../images/unsplashdark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}

.site-hero h1 {
  font-size: 3.5rem;
  letter-spacing: 2pt;
}

@media (min-width: 650px) {
  .site-hero h1 {
    font-size: 3rem;
  }
}

.site-hero p {
  font-size: 1.1rem;
}

@media (min-width: 650px) {
  .site-hero p {
    font-size: 1.2rem;
  }
}

.about-me {
  background-color: #ffffff;
  text-align: center;
  padding: 5em 0;
}

.about-me h2 {
  font-size: 2.5em;
  letter-spacing: 2pt;
}

.about-me p {
  font-size: 1.1rem;
  padding: 10px;
}

@media (min-width: 650px) {
  .about-me p {
    font-size: 1.2rem;
  }
}

.heart {
  fill: red;
  position: relative;
  top: 5px;
  max-width: 15px;
  vertical-align: text-top;
}

.technical-skills {
  padding: 5em 0;
  background-color: #000000;
  background-image: url("../images/unsplashdesktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

.technical-skills .technical-skills--header {
  text-align: center;
  padding-bottom: 3em;
}

.technical-skills .technical-skills--header h2 {
  font-size: 2.5em;
  letter-spacing: 2pt;
}

.technical-skills .technical-skills--header p {
  font-size: 1.1rem;
  margin: 0 auto;
  padding: 20px;
  max-width: 650px;
}

@media (min-width: 650px) {
  .technical-skills .technical-skills--header p {
    font-size: 1.2rem;
  }
}

.container,
.site-hero--small,
.about-me--small,
.technical-skills--small {
  max-width: 650px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.card {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  padding: 2.5rem;
  background: rgba(0, 0, 0, 0.651);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .card img {
  display: block;
  margin: 0 auto;
  max-width: 3em;
  border-radius: 6px;
}

.card h3 {
  font-weight: 600;
  font-size: 1rem;
  margin: 2rem 0 0;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2pt;
}

@media (min-width: 650px) {
  .container {
    max-width: 1050px;
  }
  .skills .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(25% - 1rem);
    flex: 1 1 calc(25% - 1rem);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */